<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'baseStyle.css' %}"/>
    {% block css %}
    {% endblock css %}
    <title>give me my Vacation-plan</title>
</head>
<body>
    <div class="main">
        <header>
            <div class="title">
                <h2 class="pagetitle">{{ username }}의 여름 방학을 부탁해~</h2>
            </div>
        </header>
        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>