<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'baseStyle.css' %}"/>
    {% block css %}
    {% endblock css %}
    <title>give me my Vacation-plan</title>
</head>
<body>
    <div class="main">
        <div class="sunimg">
            <img src="{% static 'sun.png' %}"/>
        </div>
        <div class="title">
            <h2>다시 돌아온 <br/>여름 방학 계획표</h2>
        </div>
        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>
    </div>
</body>
</html>